@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Poppins];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
}

@font-face {
    font-family: "MilkyWay";   /* Ensure this matches the name you'll use in your component */
    src: local("MilkyWay"),
         url("./fonts/MilkyWalky-Regular.ttf") format("truetype"); /* Ensure this path is correct */
}

